
.main-order{
  
	padding-bottom:40px;
  min-height: 500px;
  background-color: #393e46;
}

.main-order__title{
  margin:0 ;
	padding-top: 25px;
	padding-bottom: 30px;
	height: 50px;
	width: 100%;
	background-color:#222831;
	font-size: 60px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	text-align: center;
	color:  #EEEEEE;
}

.main-order__list {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main-order__item a{
  color:#EEEEEE;
}

.main-order__form {
  width: 500px;
  height: 400px;
  margin: 0 auto;
  background-color: #00adb5;
}
