

.portfoli__lanka-booking {
	width: 600px;
	height: 700px;
}

.color img:hover {
	filter: grayscale(100%);
	filter: none;
	transition: 1s ease;
	-webkit-filter: grayscale(100%);
}

.color img {
	filter: grayscale(0%);
	filter: grey;
	-webkit-filter: grayscale(0%);
	-webkit-transition: all 1s ease;
}
